<!DOCTYPE html>
<html>
  <head>
    <title>Ruined</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Ruin Game of Thrones for your friends!</h1>
    <form name='signup' action=#>
    	Email : <input type="text" id="email">
    	Phone Number : <input type="number" id="phnumber">
    </form>
  </body>
</html>
